<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Démo Discovery-plugin-csv-export</title>

<!-- Import Discovery -->
    <script nomodule src="https://unpkg.com/@senx/discovery-widgets/dist/discovery/discovery.js"></script>
    <script type="module" src="https://unpkg.com/@senx/discovery-widgets/dist/discovery/discovery.esm.js"></script>

<!-- Import your plugin -->
    <script type="module" src="./build/discovery-plugin-csv-export.esm.js"></script>
    <script nomodule src="./build/discovery-plugin-csv-export.js"></script>

 </head>
  <body>
<!-- Define a one tile dashboard with "radar" as a chart type and random values -->
    <discovery-dashboard url="https://data.hexa-data.fr/api/v0/exec" dashboard-title="Test" debug>
      <%
        // discovery-tile
        [] 'gts' STORE
        1 4 <% 'i' STORE
        NEWGTS $i TOSTRING RENAME 'g' STORE
        1 10 <%
        'ts' STORE $g $ts RAND + STU * NOW + NaN NaN NaN RAND ADDVALUE DROP
        %> FOR
        $gts $g +! 'gts' STORE
        %> FOR

        // List of classnames
        [] 'classnames' STORE
        $gts <% NAME $classnames SWAP +! 'classnames' STORE %> FOREACH
        // CSV header
        [ 'timestamp' ] $classnames APPEND 'header' STORE
        // CSV Body init
        [ ] 'body' STORE


        // Append datas to CSV Body
        [ $gts [ ] <%
        'parameter' STORE
        $parameter  0 GET 'ts' STORE
        $parameter 7 GET 'values' STORE


        [ $ts ] $values APPEND 'line' STORE

        [ $line ] $body APPEND 'body' STORE

        [ NOW NaN NaN NaN 0 ]

        %> MACROREDUCER ] REDUCE DROP

        // Append boy to CSV
        [ $header ] $body APPEND 'return' STORE

        // Return the CSV
        $return
      %> 'formatCsv' STORE
      {
        'title' 'Test'
        'description' 'Dashboard test'
        'vars' { 'dt' [ NOW NOW ]  }
        'tiles' [
          {
            'title' 'test'
            'x' 0 'y' 0 'w' 12 'h' 1
            'type' 'csv-export'
            'data' @formatCsv
              'options' { 'button' { 'label' 'Téléchargement' } }
          }
        ]
      }
      </discovery-dashboard>
  </body>
</html>
